.glavniy{
    list-style: none;
    display: flex;
    justify-content: space-evenly
}

.gmail{
    text-align: center;
    margin: 50px;
}

.main{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 300px;
    height: 300px;
    color: white;
    background-color: red;
    text-align: center;
    padding: 110px;
    box-sizing: border-box;
    font-size: 50px;
}

.kkk{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 150px;
}